@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 200;
	padding: 0;
	margin: 0;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.center-text {
	text-align: center;
}


/*navigation*/
nav {
	display: flex;
	justify-content: space-between;
	padding: 20px 40px;
	font-size: 24px;
}
@media (max-width: 620px) {
	nav {
		flex-direction: column;
		align-items: center;
	}
}
nav div {
	display: flex;
	align-items: center;
}
nav a {
	padding: 10px;
}
.nav-logo {
	border: 1px solid #000;
	border-radius: 3px;
}
.nav-logo:hover {
	text-decoration: none;
}


/*header intro section*/
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5rem;
}
header img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 20px
}
header p {
	margin-top: 10px;
	margin-bottom: 0;
}
header h1 {
	margin-top: 0;
	margin-bottom: 0;
}
.header-p {
	margin-top: 40px;
}



/*sections*/
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px 10px 0;
}
section h2 {
	font-weight: 300;
	font-size: 3rem;
	border-bottom: 1px solid #000;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section .card {
    min-height: 312px;
    border: 1px solid #787878;
    border-radius: 3px;
    margin: auto 10px;
    padding: 5px;
}
a.card:hover {
	text-decoration: none;
}
.card img {
	width: 300px;
}
.project-tags {
	display: flex;
	justify-content: center;
}

.project-tags span {
    margin: 5px 4px;
    padding: 3px 6px;
    border-radius: 3px;
    background: #ef5350;
    color: #FFF;
}
.bold-text {
	font-weight: 700;
}
.talks-section p, .articles-section p, .volunteer-section p, .opensource-section p {
	font-size: 1.5rem;
}
.talks-section h2, .articles-section h2 {
	margin-bottom: 10px;
}


/*footer*/
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	margin-top: 40px;
}
.footer-social-links {
	margin: 20px;
}
.footer-social-links i {
	font-size: 50px;
	padding: 8px;
}
footer a:hover {
	text-decoration: none;
}



/*contact page*/
.contact-information {
	font-size: 1.5rem;
}
